<!DOCTYPE>
<html lang="ja" >
<head>
    <title>勤怠入力</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
    <p>
        <menu>
            <li><a href="/Attendance">勤怠入力</a></li>
            <li><a href="/Workplace">勤務場所登録</a></li>
            <li><a href="/Contact">連絡先登録</a></li>
            <li><a href="/Situation">勤怠状況一覧表示</a></li>
            <li><a href="/SituationList">勤怠履歴一覧</a></li>
            <li><a href="/Login">ログアウト</a></li>
        </menu>
    </p>
    <p>こんにちは、ななしさん。</p>
    <p>状態:未出勤</p>
    <p id="realtime"></p>
    <p>
        <input type="submit" value="出勤" onclick="buttonClick(1);">
    </p>
    <p>
        <input type="submit" value="退勤" onclick="buttonClick(2)">
    </p>
    <script src=""></script>
</body>
</html>