<!DOCTYPE html>
<html lang="ja">
<header>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>連絡先登録</title>
</header>
<body>
    <p>
        <menu>
            <li><a href="/Attendance">勤怠入力</a></li>
            <li><a href="/Workplace">勤務場所登録</a></li>
            <li><a href="/Contact">連絡先登録</a></li>
            <li><a href="/Situation">勤怠状況一覧表示</a></li>
            <li><a href="/SituationList">勤怠履歴一覧</a></li>
            <li><a href="/Login">ログアウト</a></li>
        </menu>
    </p>
    <h1>連絡先登録</h1>
    
    <p><label>電話番号<input type="tel"></label></p>
    <p><label>メールアドレス<input type="email"></label></p>
    <p><label>備考<input type="text"></label></p>
    <p><input type="submit" value="登録"></p>
    
</body>
</html>