<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>勤務場所登録</title>
</head>
<body>
    <p>
        <menu>
            <li><a href="/Attendance">勤怠入力</a></li>
            <li><a href="/Workplace">勤務場所登録</a></li>
            <li><a href="/Contact">連絡先登録</a></li>
            <li><a href="/Situation">勤怠状況一覧表示</a></li>
            <li><a href="/SituationList">勤怠履歴一覧</a></li>
            <li><a href="/Login">ログアウト</a></li>
        </menu>
    </p>
    <p>
        <from method="post">
        <label >本日の勤務場所を登録してください<br></label>
        <select name="workplace">
            <option value="1">自宅</option>
            <option value="2">東京本社</option>
            <option value="3">営業所</option>
        </select>
        <input type="submit" value="登録">
        </from>
    </p>
</body>
</html>